$color-primary: #60b6d6;
$color-second: #bcd0e5;
$color-additional: #ff7549;
$color-background: #ecc8cd3b;
$color-background-main: #e5e5e5;
$color-tag: #f17588;
$color-text: #344365;
$color-border: #d7d7d7;
$color-light: #fff;
$color-dark-m: #b2b2b2;

$content-width: 1197px;
$laptop-width: 940px;
$tablet-width: 768px;
$mobile-big-width: 520px;
$mobile-small-width: 320px;
